POSTGRES_USER=postgres2
POSTGRES_PASSWORD=root
POSTGRES_DB=deployhub
DATABASE_URL=postgresql://postgres2:root@localhost:5432/deployhub
PORT=5000
CLIENT_URL=https://deployhub.prashantxd.in
VITE_API_URL=/api
GITHUB_CLIENT_ID=Ov23lizZyfaWxmkDKEGS
GITHUB_CLIENT_SECRET=f4365889c21fa514604f9f3cb9390a6284fc3876
GITHUB_CALLBACK_URL=https://deployhub.prashantxd.in/api/auth/github/callback
SESSION_SECRET=fdaf3c4b08855aa864fc951c9057988816ecfebc4d97f3d10c95a70df428d623fb8c372fcb429a368f1addb4ff9a9d4b
DEPLOYMENT_DOMAIN=deployhub.prashantxd.in
DEPLOYMENT_PROTOCOL=https
DEPLOYMENT_ENCRYPTION_KEY=7222d1b26dadd7e3fc941f84e974c0749ed0542d134fccc7d53cb7876663a6cb
TLS_CERT_DIR=./certs
ADMIN_GITHUB_USERS=